[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-genai = "*"
plotly = "*"
scikit-learn = "*"
pandas = "*"
umap-learn = "*"
hdbscan = "*"
bertopic = "*"
sentence-transformers = "*"
mecab-python3 = "*"
ipadic = "*"
fugashi = "*"
unidic-lite = "*"

[dev-packages]

[requires]
python_version = "3.12"
